APP_HOST=103-75-198-204.sslip.io
MONGODB_URI=mongodb://mongodb:27017
DB_NAME=fire_ice
BOT_TOKEN=replace_me
ADMIN_IDS=replace_me
OWNER_ID=replace_me
DEV_MODE=false
CORS_ORIGINS=https://103-75-198-204.sslip.io
MINI_APP_URL=https://103-75-198-204.sslip.io
PUBLIC_BASE_URL=https://103-75-198-204.sslip.io
